# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
**/*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv
*.nav
*.snm
*.vrb

# Temporary files
*~
*.bak
*.tmp

# Editor and OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# TeXShop
*.pdfsync

# TeXworks
*.synctex.gz(busy)

# latexmk
latexmkrc

# PDF and other generated output files (optional)
# *.pdf
*.dvi
*.ps

# Overleaf and cloud-specific files (optional)
output/

# Log files
*.log



researchProject.log
researchProject.synctex.gz



